<div id="homepage-bg">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	<!-- ============= NOTICE ============= -->
	<p class="text-center" style="color: red;"><%= notice %><p>
	<!-- ============= MAIN STUFF ============= -->
	<div class="row justify-content-md-center">
		<div class="col col-md-2" style="width: 5%" align="center">
				<h2>LOG IN</h2>
				<%= button_to 'ADMIN', new_session_path, method: "get", params: {login: "Admin"}, class:"btn btn-secondary big-btn" %><br/>
				<%= button_to 'PATIENT', new_session_path, method: "get", params: {login: "Patient"}, class:"btn btn-secondary big-btn" %><br/>
				<%= button_to 'DRIVER', new_session_path, method: "get", params: {login:"Driver"}, class:"btn btn-secondary big-btn" %>
		</div>
		<div class="col col-md-2" align="center">
			<h2>SIGN UP</h2>
			<%= button_to 'ADMIN', new_admin_path, method: "get", class:"btn btn-secondary big-btn" %><br/>
			<%= button_to 'PATIENT', new_patient_path, method: "get", class:"btn btn-secondary big-btn" %><br/>
			<%= button_to 'DRIVER', new_driver_path, method: "get", class:"btn btn-secondary big-btn" %>
		</div>
	</div>
</div>
