<% @login_type = params[:login] %>
<br><br><br><br><br><br><br><br><br>
<head>
  <style>
    .btn-primary{
      background-color: #003354;
    }
    body{
      font-family: 'Source Sans Pro', sans-serif;
      color: #003354;
      background-color: #fceae8;
    }
    h3{
      color: #003354;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
    }
    input[type=text],input[type=password]{
      line-height: 2;
      width: 10%;
    }
  </style>
</head>
<body>
  <div class="text-center">
    <h3>Login as <%= @login_type %></h3>
    <br>
    <%= form_with(url: create_session_url, local: true) do |form| %>
      <div class="col">
        <div class="row-md-offset-5" style="padding:5px;">
          <%= text_field_tag :email, nil, placeholder: 'Email' %>
        </div>
        <div class="row-md-offset-5" style="padding:5px;">
          <%= password_field_tag :password, nil, placeholder: 'Password' %>
        </div>
        <div class="row-md-offset-5" style="padding:5px;">
          <%= form.submit "Login" ,class:"btn btn-primary"%>
        </div>
        <%= hidden_field_tag :login_type, @login_type %>  
      </div>
    <% end %>
  </div>
</body>
