<% @login_type = params[:login] %>
<h1><%= @login_type %> Login Page</h1>
<%= form_with(url: create_session_url, local: true) do |form| %>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  
  <div class="field">
    <%= hidden_field_tag :login_type, @login_type %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
