<% content_for :navbar do %>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'About', about_sessions_path, method: "get", class:"btn btn-outline-light" %>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Get Involved', involved_sessions_path, method: "get", class:"btn btn-outline-light", disabled: true %>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Volunteer Login', new_session_path, method: "get", class:"btn btn-outline-light" %>
  </li>
<% end %>

<body>
  <section class="p-4 text-center container centered-card">
    <div class="row p-lg-5 bg-dark rounded">
      <h1>Ride2Health Login</h1>
      <p>
        Welcome! Please log in to get started.
      </p>
      <%= form_with url: "/sessions", local: true do |form| %>
      <div class="col">
        <div class="row-md-offset-5 py-1">
          <%= text_field_tag :email, nil, placeholder: 'Email' %>
        </div>
        <div class="row-md-offset-5 py-1">
          <%= password_field_tag :password, nil, placeholder: 'Password' %>
        </div>
        <div class="row-md-offset-5 py-1">
          <%= form.submit "Login" ,class:"btn btn-outline-light"%>
        </div>
      </div>
    <% end %>
  </div>
</section>
</body>