<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_init %>
    <%= form.text_field :middle_init %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :auth_lvl, 'Who you are' %>
    <%= form.select :auth_lvl, options_for_select([["Healthcare Provider", 2], ["211 Call Center", 3], ["System Administrator", 1]]) %>
  </div>
  
  <div class="field">
    <%= form.label :host_org, 'If healthcare provider, please choose your organization' %>
    <%= form.select :host_org, options_for_select(["N/A","TAMU","United Way"]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>