<div id="header">
  <div class="row" style="margin: 0px;">
    <img src="<%= asset_path('UWBV-white.png') %>" alt='UWBV logo' class='logo'>
    <div class="col">
      <br>
      <h2 style="font-weight: 600;">
        <% if @currentAdmin.auth_lvl == 1 %>
          System Administrator
        <% elsif @currentAdmin.auth_lvl == 2 %>
          Healthcare Provider
        <% else %>
          211 Call Center
        <% end %>
         Home Page
        </h2>
      <h4 style="font-weight: 400; font-style: italic;"><%= @currentAdmin.first_name + " " + @currentAdmin.last_name %></h4>
    </div>
    <div class="col-1">
      <br>
      <%= button_to 'Edit Account', edit_admin_path(@currentAdmin), method: :get, class: "btn btn-secondary right" %>
      <%= button_to 'Log Out', logout_path, class: "btn btn-secondary right" %>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="col">
  <% if @currentAdmin.approved %>
    <% if @currentAdmin.auth_lvl == 1 %>
      <!-- ======================== ORGNIZATION ======================== -->
      <h1>Healthcare Organizations</h1>
      <%= form_tag(:controller => "admins", :action => "add_host") do%>
        <div class="row" style=" padding-bottom:5px; overflow: hidden;">
          <div class="col"><%= text_field_tag :host_org, params[:host_org], placeholder: "Add an organization", class:"form-control" %></div>
          <div class="col"><%= submit_tag "Submit" , class: "btn btn-primary" %></div>
        </div>
      <% end %>
      <table>
        <thead>
          <tr>
            <th>Organization</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% AdminsController::HOSTS.select{ |h| h != "N/A" }.each do |host| %>
            <tr>
              <td><%= host %></td>
              <td><%= button_to 'Delete', {action: 'delete_host', id: host}, method: :post, class:"btn btn-secondary sm-btn" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!-- ========================ADMINS======================== -->
      <br>
      <h1>Admins</h1>

      <%= form_tag(admins_home_path, :method => :get, class: "search-form") do %>
        <%= hidden_field_tag "a_search", "a_search" %>
        <div class="row">
          <div class="col">
          <%= text_field_tag :search, params[:search], placeholder: "Search name or email", class: "form-control" %>
          </div>
          <div class="col">
          <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <br>

      <table >
        <thead>
          <tr>
            <th>Admin</th>
            <th>Authority Level</th>
            <th>Host Organization</th>
            <th>Approved by</th>
            <th>Approved?</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td>
                <%= admin.first_name %> <%= admin.middle_init %> <%= admin.last_name %>
                <p></br>
                  Email: <%= admin.email %> | Phone: <%= admin.phone %>
                </p>
              </td>
              <td>
                <%= "System Administrator" if admin.auth_lvl == 1 %>
                <%= "Healthcare Provider" if admin.auth_lvl == 2 %>
                <%= "Call Center" if admin.auth_lvl == 3 %>
              </td>
              <td><%= admin.host_org %></td>
              <td>
                <% if admin.admin_name %>
                  <%= admin.admin_name %>
                  <p></br>
                  Email: <%= admin.admin_email %>
                  </p>
                <% end %>
              </td>
              <td>
                <% if admin.approved %>
                  <span>True</span>
                <% else %>
                  <span style="color:red">False</span>
                <% end %>
              </td>
              <td>
                <% if admin.approved %>
                  <%= button_to "Unapprove", { action: "unapprove", id: admin.id }, method: :post, data: { confirm: "Are you sure?" },class: "btn btn-secondary sm-btn" %>
                <% else %>
                  <%= button_to "Approve", { action: "approve", id: admin.id }, method: :post, data: { confirm: "Are you sure?" },class: "btn btn-secondary sm-btn" %>
                <% end %>
                <%= button_to 'Delete', admin, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-secondary sm-btn" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!-- ========================DRIVERS======================== -->
      <br>
      <h1>Drivers</h1>

      <%= form_tag(admins_home_path, :method => :get, class: "search-form") do %>
        <%= hidden_field_tag "d_search","d_search" %>
        <div class="row">
          <div class="col">
          <%= text_field_tag :search, params[:search], placeholder: "Search name or email", class: "form-control" %>
          </div>
          <div class="col">
          <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <br>

      <table>
        <thead>
          <tr>
            <th>Driver</th>
            <th>Approved By</th>
            <th>Trained?</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @drivers.each do |driver| %>
            <tr>
              <td>
                <%= driver.first_name %> <%= driver.middle_init %> <%= driver.last_name %>
                <p></br>
                  Email: <%= driver.email%> | Phone: <%= driver.phone %>
                </p>
              </td>
              <td>
                <% if driver.admin %>
                  <%= driver.admin.first_name + ' ' + driver.admin.last_name %>
                  <p></br>
                    Email: <%= driver.admin.email%> | Phone: <%= driver.admin.phone %>
                  </p>
                <% end %>
              </td>
              <td>
                <% if driver.trained %>
                  <span>True</span>
                <% else %>
                  <span style="color:red">False</span>
                <% end %>
              </td>
              <td>
                  <% if driver.trained %>
                    <%= button_to "Unapprove", { action: "unapprove", id: driver.id }, method: :post, data: { confirm: "Are you sure?" },class: "btn btn-secondary sm-btn" %>
                  <% else %>
                    <%= button_to "Approve", { action: "approve", id: driver.id }, method: :post, data: { confirm: "Are you sure?" },class: "btn btn-secondary sm-btn" %>
                  <% end %>

                  <%= button_to 'Delete', driver, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-secondary sm-btn" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <!-- ======================== PATIENTS ======================== -->
    <br>
    <h1>Patients</h1>
    <%= form_tag(admins_home_path, :method => :get, class: "search-form") do %>
      <%= hidden_field_tag "p_search", "p_search" %>
      <div class="row">
        <div class="col">
        <%= text_field_tag :search, params[:search], placeholder: "Search name or email", class: "form-control" %>
        </div>
        <div class="col">
        <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <br>

    <table>
      <thead>
        <tr>
          <th>Patient</th>
          <th>Host Organization</th>
          <th>Approved By</th>
          <th>Approved?</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
        <tr>
          <td>
            <%= patient.first_name %> <%= patient.middle_initial %> <%= patient.last_name %>
            <p><br>
              Email: <%= patient.email%> | Phone: <%= patient.phone %>
            </p>
          </td>
          <td><%= patient.host_org %></td>
          <td>
            <% if patient.admin %>
              <%= patient.admin.first_name + ' ' + patient.admin.last_name %>
              <p><br>
                Email: <%= patient.admin.email%> | Phone: <%= patient.admin.phone %>
              </p>
            <% end %>
          </td>
          <td>
            <% if patient.approved %>
              <span>True</span>
            <% else %>
              <span style="color:red">False</span>
            <% end %>
          </td>
          <td>
            <% if @currentAdmin.auth_lvl == 1 || @currentAdmin.auth_lvl == 2  %>
              <% if patient.approved %>
                  <%= button_to "Unapprove", { action: "unapprove", id: patient.id }, method: :post, data: { confirm: "Are you sure?" },class: "btn btn-secondary sm-btn" %>
              <% else %>
                <%= button_to "Approve", { action: "approve", id: patient.id }, method: :post, data: { confirm: "Are you sure?" },class: "btn btn-secondary sm-btn" %>
              <% end %>
            <% end %>
            <% if @currentAdmin.auth_lvl == 2 %>
              <%= button_to 'Locations', patient_presets_path(patient.id), method: :get, class: "btn btn-secondary sm-btn" %>
            <% end %>
            <% if @currentAdmin.auth_lvl == 1  %>
              <%= button_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary sm-btn" %>
              <%= button_to 'Comments', viewComments_patient_path(patient.id), method: :get, class: "btn btn-secondary sm-btn" %>
            <% end  %>

            <% if ((@currentAdmin.auth_lvl == 1 ||  @currentAdmin.auth_lvl == 3) && (patient.approved)) %>
              <%= link_to 'Create New Ride',{action: :new, controller: :appointments, patient_id: patient.id}, method: :get,class: "btn btn-secondary sm-btn" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <!-- ======================== UPCOMING RIDES ======================== -->
    <% if (@currentAdmin.auth_lvl == 1 || @currentAdmin.auth_lvl == 3) %>
      <br>
      <h1>Upcoming Rides</h1>
      <table>
        <thead>
          <tr>
            <th>Patient</th>
            <th>Driver</th>
            <th>Date & Time</th>
            <th>Pick-Up Location</th>
            <th>Destination</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @appointments.each do |appointment| %>
          <tr>
            <% @tempPatient = Patient.all.find(appointment.patient_id) %>
            <td nowrap="nowrap">
              <%= @tempPatient.first_name %> <%= @tempPatient.middle_initial %> <%= @tempPatient.last_name %>
              <p></br>
                Email: <%= @tempPatient.email%> |</br>
                Phone: <%= @tempPatient.phone %>
              </p>
            </td>
            <% if appointment.status == 0 %>
              <td style="color:red">Unassigned</td>
            <% else %>
              <td nowrap="nowrap">
                <% @tempDriver = Driver.all.find(appointment.driver_id) %>
                <%= @tempDriver.first_name + ' ' + @tempDriver.last_name %>
                <p></br>
                  Email: <%= @tempDriver.email%> |</br>
                  Phone: <%= @tempDriver.phone %>
                </p>
              </td>
            <% end %>
            <td nowrap="nowrap">
              <%= Time.parse(appointment.datetime).strftime("%a %b %d, %Y") %></br>
              <p></br><%= Time.parse(appointment.datetime).strftime("%I:%M %p") %></p>
            </td>
            <td>
              <%= appointment.location[0][:name] %>
              <p></br><%= appointment.location[0][:address] %></p>
            </td>
            <td>
              <%= appointment.location[1][:name] %>
              <p></br><%= appointment.location[1][:address] %></p>
            </td>
            <td>
              <%= button_to 'Details', appointment, method: :get,class: "btn btn-secondary sm-btn" %>
              <%= button_to 'Edit', edit_appointment_path(appointment), method: :get,class: "btn btn-secondary sm-btn" %>
              <%= button_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-secondary sm-btn" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <br>
    <h3>Pending approval</h3>
    <p>Please contact a system administrator.</p>
    <br>
  <% end %>
</div>
