<head>
  <style>
    body{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: #fceae8;
      
    }
    h1{
      color: #003354;
      font-family: 'Lato', sans-serif;
      font-style: italic;
    }
    table{
      margin-left: 20px;
      width: 100%;
    }
    table,td,th{
      border: 1px solid #a6a6a6;
    }
    .btn-primary{
      background-color: #003354
    }
    .btn-secondary{ 
      color: #003354;
      background-color: #f9d58c;
      font-size:15px; 
      font-weight: 400;
      padding: 3px 5px
    }
    .btn-secondary:hover{
      background-color: #fcedcf;
      color: #33adff;
    }
    .btn-secondary.btn-sm{
      color: #003354;
      background-color: #e5e5e6;
      font-size:15px; 
      padding: 3px 5px
    }
    .btn-secondary:hover.btn-sm{
      background-color: #f2f2f3;
    }
    #header{
      font-family: 'Lato', sans-serif;
      background-color: #003354;
      color:white;
    }
  </style>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <!-- ======================== HEADER ======================== -->
  <div id="header">
    <h2 style="font-weight: 600; padding-left:20px; ">Logged in as <%= @currentAdmin.first_name + " " + @currentAdmin.last_name %></h2>
    <div class="row" style="padding-left:20px; font-weight: 400; font-style: italic; ">
      <div class="col col-lg-8">
        <h4>Status: 
          <% if @currentAdmin.auth_lvl == 1 %>
            System Administrator
          <% elsif @currentAdmin.auth_lvl == 2 %>
            Healthcare Provider
          <% else %>
            211 Call Center
          <% end %>
        </h4>
      </div>
      <div class="col"><%= button_to 'Edit Account', edit_admin_path(@currentAdmin), method: :get, class: "btn btn-secondary " %></div>
      <div class="col"><%= button_to 'Log Out', logout_path, class: "btn btn-secondary" %></div>
    </div>
  </div>
  <br>

  
  <br>
  <% #AUTH LEVEL: 1-clients, 2-healthcare provider, 3-call center %>
  <div class="col" style="padding-left:20px;">
    <% if @currentAdmin.approved %>
      <% if @currentAdmin.auth_lvl == 1 %>
        <!-- ======================== ORGNIZATION ======================== -->
        <%= form_tag(:controller => "admins", :action => "add_host") %>
        <h1>Organization</h1>
        <div class="row" style="padding-left:20px; padding-bottom:5px; overflow: hidden;">
          <div class="col"><%= text_field_tag :host_org, params[:host_org], placeholder: "Add an organization", class:"form-control" %></div>
          <div class="col"><%= submit_tag "Submit" , class: "btn btn-primary" %></div>
        </div>
        <table cellpadding="5">
          <thead>
            <tr>
              <th>Organization</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% AdminsController::HOSTS.drop(1).each do |host| %>
              <tr>
                <td><%= host %></td>
                <td><%= button_to 'Delete', {action: 'delete_host', id: host}, method: :post, class:"btn btn-secondary btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <!-- ========================ADMINS======================== -->
      
        <h1>Admins</h1>
        <table cellpadding=5px>
          <thead>
            <tr>
              <th>First name</th>
              <th>Middle init</th>
              <th>Last name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Auth lvl</th>
              <th>Host org</th>
              <th>Approved?</th>
              <th>Actions</th>
            </tr>
          </thead>
        
          <tbody>
            <% @admins.each do |admin| %>
              <tr>
                <td><%= admin.first_name %></td>
                <td><%= admin.middle_init %></td>
                <td><%= admin.last_name %></td>
                <td><%= admin.phone %></td>
                <td><%= admin.email %></td>
                <td><%= admin.auth_lvl %></td>
                <td><%= admin.host_org %></td>
                <td><%= admin.approved %></td>
                <td>
                  <% if admin.approved %>
                    <%#= button_to "Unapprove", { action: "unapprove", id: admin.id }, method: :post, data: { confirm: "Are you sure?" } %>
                  <% else %>
                    <%= button_to "Approve", { action: "approve", id: admin.id }, method: :post, data: { confirm: "Are you sure?" },class: "btn btn-secondary" %>
                  <% end %>
                  <%= button_to 'Delete', admin, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-secondary btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <br>
      
        <!-- ========================DRIVERS======================== -->
        <h1>Drivers</h1>
        <table cellpadding="5">
          <thead>
            <tr>
              <th>First name</th>
              <th>Middle init</th>
              <th>Last name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Admin</th>
              <th>Trained</th>
              <th>Actions</th>
            </tr>
          </thead>
        
          <tbody>
            <% @drivers.each do |driver| %>
              <tr>
                <td><%= driver.first_name %></td>
                <td><%= driver.middle_init %></td>
                <td><%= driver.last_name %></td>
                <td><%= driver.phone %></td>
                <td><%= driver.email %></td>
                <td>
                  <% if driver.admin %>
                    <p><%= driver.admin.first_name + ' ' + driver.admin.last_name %></p>
                    <p><%= driver.admin.email %></p>
                  <% end %>
                </td>
                <td><%= driver.trained %></td>
                
                <td>
                    <% if !driver.trained %>
                      <%= button_to "Approve", { action: "train", id: driver.id }, method: :post,class: "btn btn-secondary btn-sm" %>
                    <% end %>
                    
                    <%= button_to 'Delete', driver, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-secondary btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <br>
      <% end %>
      
      <!-- ======================== PATIENTS ======================== -->
      <h1>Patients</h1>
      <%= form_tag(admins_home_path, :method => :get, class: "search-form") do %>
        <div class="row">
          <div class="col">
          <%= text_field_tag :search, params[:search], placeholder: "Search patient name", class: "form-control" %>
          </div>
          <div class="col">
          <%= submit_tag "Submit", class: "btn btn-primary" %>  
          </div>
        </div>
      <% end %> 
      <br>
      
      <table cellpadding="5">
        <thead>
          <tr>
            <th>First name</th>
            <th>Middle initial</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Host</th>
            <th>Admin</th>
            <th>Approved?</th>
            <th>Actions</th>
          </tr>
        </thead>
      
        <tbody>
          <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.first_name %></td>
            <td><%= patient.middle_initial %></td>
            <td><%= patient.last_name %></td>
            <td><%= patient.phone %></td>
            <td><%= patient.email %></td>
            <td><%= patient.host_org %></td>
            <td>
              <% if patient.admin %>
                <p><%= patient.admin.first_name + ' ' + patient.admin.last_name %></p>
                <p><%= patient.admin.email %></p>
              <% end %>
            </td>
            <td><%= patient.approved %></td>
            
            <td>
              <% if @currentAdmin.auth_lvl == 2  %> 
                <% if !patient.approved %>
                  <%= button_to "Approve", { action: "approve_patient", id: patient.id }, method: :post,class: "btn btn-secondary btn-sm" %>
                <% end %>
              <% end %>
              
              <% if @currentAdmin.auth_lvl == 1  %> 
                <%= button_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-secondary btn-sm" %>
              <% end  %>
              
              <% if (@currentAdmin.auth_lvl == 1 ||  @currentAdmin.auth_lvl == 3)%> 
                <%= link_to 'Create New Ride',{action: :new, controller: :appointments, patient_id: patient.id}, method: :get,class: "btn btn-secondary btn-sm" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br><br>
      
      <!-- ======================== UPCOMING RIDES ======================== -->
      <% if (@currentAdmin.auth_lvl == 1 || @currentAdmin.auth_lvl == 3) %>
        <h1>Upcoming Rides</h1>
        <table cellpadding="5">
          <thead>
            <tr>
              <th>Patient</th>
              <th>Driver</th>
              <th>Date & Time</th>
              <th>Pick-Up Location</th>
              <th>Destination</th>
              <th>Actions</th>
            </tr>
          </thead>
        
          <tbody>
            <% @appointments.each do |appointment| %>
            <tr>
              <% @tempPatient = Patient.all.find(appointment.patient_id) %>
              <td>
                <p><%= @tempPatient.first_name %> <%= @tempPatient.last_name %></p>
                <p><%= @tempPatient.email %></p>
              </td>
              <% if appointment.status == 0 %>
                <td style="color:red">Unassigned</td>
              <% else %>
                <td>
                  <% @tempDriver = Driver.all.find(appointment.driver_id) %>
                  <p><%= @tempDriver.first_name + ' ' + @tempDriver.last_name %></p>
                  <p><%=  @tempDriver.email %></p>
                </td>
              <% end %>
              <td><%= appointment.datetime %></td>
              <td>
                <p><%= appointment.location[0][:name] %></p>
                <p><%= appointment.location[0][:address] %></p>
              </td>
              <td>
                <p><%= appointment.location[1][:name] %></p>
                <p><%= appointment.location[1][:address] %></p>
              </td>
              <td>
                <%= button_to 'Details', appointment, method: :get,class: "btn btn-secondary btn-sm" %>
                <%= button_to 'Edit', edit_appointment_path(appointment), method: :get,class: "btn btn-secondary btn-sm" %>
                <%= button_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-secondary btn-sm" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <br>
      <h3>Pending approval</h3>
      <p>Please contact a system administrator.</p>
      <br>
    <% end %>
  
  </div>
</body>
</html>