<%= stylesheet_pack_tag 'styles/user', media: 'all', 'data-turbolinks-track': 'reload' %>

<% content_for :navbar do %>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'My Profile', user_path(current_user), method: "get", class:"btn btn-outline-light"%>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Logout', logout_sessions_path, method: "delete", class:"btn btn-outline-light" %>
  </li>
<% end %>

<section class="p-4 container centered-card">
  <div class="row p-lg-5 bg-dark rounded">
    <%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <%= pluralize(@user.errors.count, "error! Please fix the following issue:") %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h1 class="text-center">Edit Password</h1>
    <div class="row py-2">
      <div class="form-group col-md">
        <%= form.label :password, "New Password" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group col-md">
        <%= form.label :password_confirmation, "Confirm New Password" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
      <small class="form-text text-muted">
        Don't share your password with anyone!
      </small>
      <div class="text-center py-4">
        <%= form.submit "Submit",class:"btn btn-outline-light" %>
      </div>
    <% end %>
  </div>
  <div class="text-center pb-3">
    <%= button_to 'Back', request.headers['HTTP_REFERER'], method: 'get', class: "btn btn-light" %>
  </div>
</div>
</section>