<%= form_with(model: @schedule, local: true, url: driver_schedule_path) do |form| %>
  
  <div class="field">
    Monday <%= @monday_date.strftime("%b %e, %Y") %>
    <%= form.time_select :Monday1, {minute_step: 15, default: {hour: @default_vals['Monday'][0], min: @default_vals['Monday'][1]}} %>
    to 
    <%= form.time_select :Monday2, {minute_step: 15, default: {hour: @default_vals['Monday'][2], min: @default_vals['Monday'][3]}} %>
  </div>

  <div class="field">
    Tuesday <%= (@monday_date + 1).strftime("%b %e, %Y") %>
    <%= form.time_select :Tuesday1, {minute_step: 15, default: {hour: @default_vals['Tuesday'][0], min: @default_vals['Tuesday'][1]}} %>
    to
    <%= form.time_select :Tuesday2, {minute_step: 15, default: {hour: @default_vals['Tuesday'][2], min: @default_vals['Tuesday'][3]}} %>
  </div>
  
  <div class="field">
    Wednesday <%= (@monday_date + 2).strftime("%b %e, %Y") %>
    <%= form.time_select :Wednesday1, {minute_step: 15, default: {hour: @default_vals['Wednesday'][0], min: @default_vals['Wednesday'][1]}} %>
    to
    <%= form.time_select :Wednesday2, {minute_step: 15, default: {hour: @default_vals['Wednesday'][2], min: @default_vals['Wednesday'][3]}} %>
  </div>
  
  <div class="field">
    Thursday <%= (@monday_date + 3).strftime("%b %e, %Y") %>
    <%= form.time_select :Thursday1, {minute_step: 15, default: {hour: @default_vals['Thursday'][0], min: @default_vals['Thursday'][1]}} %>
    to
    <%= form.time_select :Thursday2, {minute_step: 15, default: {hour: @default_vals['Thursday'][2], min: @default_vals['Thursday'][3]}} %>
  </div>
  
  <div class="field">
    Friday <%= (@monday_date + 4).strftime("%b %e, %Y") %>
    <%= form.time_select :Friday1, {minute_step: 15, default: {hour: @default_vals['Friday'][0], min: @default_vals['Friday'][1]}} %>
    to
    <%= form.time_select :Friday2, {minute_step: 15, default: {hour: @default_vals['Friday'][2], min: @default_vals['Friday'][3]}} %>
  </div>
  
  <div class="field">
    Saturday <%= (@monday_date + 5).strftime("%b %e, %Y") %>
    <%= form.time_select :Saturday1, {minute_step: 15, default: {hour: @default_vals['Saturday'][0], min: @default_vals['Saturday'][1]}} %>
    to
    <%= form.time_select :Saturday2, {minute_step: 15, default: {hour: @default_vals['Saturday'][2], min: @default_vals['Saturday'][3]}} %>
  </div>
  
  <div class="field">
    Sunday <%= (@monday_date + 6).strftime("%b %e, %Y") %>
    <%= form.time_select :Sunday1, {minute_step: 15, default: {hour: @default_vals['Sunday'][0], min: @default_vals['Sunday'][1]}} %>
    to
    <%= form.time_select :Sunday2, {minute_step: 15, default: {hour: @default_vals['Sunday'][2], min: @default_vals['Sunday'][3]}} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
