<h1>Current Schedule</h1>
Monday <%= @current_schedule.Monday %>
Tuesday <%= @current_schedule.Tuesday %>
Wednesday <%= @current_schedule.Wednesday %>
Thursday <%= @current_schedule.Thursday %>
Friday <%= @current_schedule.Friday %>
Saturday <%= @current_schedule.Saturday %>
Sunday <%= @current_schedule.Sunday %>
<%= link_to 'Edit', edit_driver_schedule_path(:id => @current_schedule[:id]) %>


<h1>Next Schedule</h1>
Monday <%= @next_schedule.Monday %>
Tuesday <%= @next_schedule.Tuesday %>
Wednesday <%= @next_schedule.Wednesday %>
Thursday <%= @next_schedule.Thursday %>
Friday <%= @next_schedule.Friday %>
Saturday <%= @next_schedule.Saturday %>
Sunday <%= @next_schedule.Sunday %>
<%= link_to 'Edit', edit_driver_schedule_path(:id => @next_schedule[:id]) %>
<p><%= link_to 'Back', drivers_path %></p>

<script>
    function getThisWeek(){
        var today = new Date()
        var day_of_week = today.getDay()
        if (!day_of_week) day_of_week = 7
        
        var start_of_week = new Date(Date.now() - ((day_of_week-1)*86400000))
        
        ret = []
        for (i=0; i < 7; i++){
            var d = new Date()
            d.setDate(start_of_week.getDate()+i)
            ret.push(d)
        }
        return ret // Returns an array of JS dates that correspond to the current day
    }
    
    function getNextWeek(){
        var today = new Date()
        var day_of_week = today.getDay()
        if (!day_of_weeek) day_of_week = 7
        
        var i = 0
        while (day_of_week < 8){
            day_of_week++
            i++
        }
        var start_of_week = new Date()
        start_of_week.setDate(today.getDate()+i)
        
        ret = []
        for (j=0; j<7; j++){
            var d = new Date()
            d.setDate(start_of_week.getDate()+i)
            ret.push(d)
        }
        return ret // Returns an array of JS dates that correspond to the week coming after the current day
    }
    
    function displayDay(day){
        options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
        document.write(day.toLocaleDateString("en-US", options))
    }
    
    function displayWeek(week){
        week.forEach(displayDay)
    }
</script>
