<style>
  .btn-primary{
    margin: auto;
    display: table;
    width: 200px;
    line-height: 60px;
    font-size: 20px;
  }
</style>

<h1 style="text-align: center; padding-top: 20px;">This Week's Schedule</h1>
<table class="schedule">
    <tr>
        <th>
        Monday,
        <br><%= @days_of_this_week[0] %>
        </th>
        <th>Tuesday,
        <br><%= @days_of_this_week[1] %>
        </th>
        <th>Wednesday,
        <br><%= @days_of_this_week[2] %>
        </th>
        <th>Thursday,
        <br><%= @days_of_this_week[3] %>
        </th>
        <th>Friday,
        <br><%= @days_of_this_week[4] %>
        </th>
        <th>Saturday,
        <br><%= @days_of_this_week[5] %>
        </th>
        <th>Sunday,
        <br><%= @days_of_this_week[6] %>
        </th>
    </tr>
    <tr>
        <td><%= @current_sch_readable['Monday'] %>
        <td><%= @current_sch_readable['Tuesday'] %>
        <td><%= @current_sch_readable['Wednesday'] %>
        <td><%= @current_sch_readable['Thursday'] %>
        <td><%= @current_sch_readable['Friday'] %>
        <td><%= @current_sch_readable['Saturday'] %>
        <td><%= @current_sch_readable['Sunday'] %>
    </tr>
</table>

<br>
<%= link_to 'Edit Schedule', edit_driver_schedule_path(:id => @current_schedule[:id]), class: "btn-primary" %>
<br><br>

<h1 style="text-align: center">Next Week's Schedule</h1>
<table class="schedule">
    <tr>
      <th>
      Monday,
      <br><%= @days_of_next_week[0] %>
      </th>
      <th>Tuesday,
      <br><%= @days_of_next_week[1] %>
      </th>
      <th>Wednesday,
      <br><%= @days_of_next_week[2] %>
      </th>
      <th>Thursday,
      <br><%= @days_of_next_week[3] %>
      </th>
      <th>Friday,
      <br><%= @days_of_next_week[4] %>
      </th>
      <th>Saturday,
      <br><%= @days_of_next_week[5] %>
      </th>
      <th>Sunday,
      <br><%= @days_of_next_week[6] %>
      </th>
    </tr>
    <tr>
        <td><%= @next_sch_readable['Monday'] %>
        <td><%= @next_sch_readable['Tuesday'] %>
        <td><%= @next_sch_readable['Wednesday'] %>
        <td><%= @next_sch_readable['Thursday'] %>
        <td><%= @next_sch_readable['Friday'] %>
        <td><%= @next_sch_readable['Saturday'] %>
        <td><%= @next_sch_readable['Sunday'] %>
    </tr>
</table>

<br>
<%= link_to 'Edit Schedule', edit_driver_schedule_path(:id => @next_schedule[:id]), class: "btn-primary" %>
<br>

<p><%= link_to 'Back', drivers_home_path %></p>
<script>
    function getThisWeek(){
        var today = new Date()
        var day_of_week = today.getDay()
        if (!day_of_week) day_of_week = 7

        var start_of_week = new Date(Date.now() - ((day_of_week-1)*86400000))

        ret = []
        for (i=0; i < 7; i++){
            var d = new Date()
            d.setDate(start_of_week.getDate()+i)
            ret.push(d)
        }
        return ret // Returns an array of JS dates that correspond to the current day
    }

    function getNextWeek(){
        var today = new Date()
        var day_of_week = today.getDay()
        if (!day_of_weeek) day_of_week = 7

        var i = 0
        while (day_of_week < 8){
            day_of_week++
            i++
        }
        var start_of_week = new Date()
        start_of_week.setDate(today.getDate()+i)

        ret = []
        for (j=0; j<7; j++){
            var d = new Date()
            d.setDate(start_of_week.getDate()+i)
            ret.push(d)
        }
        return ret // Returns an array of JS dates that correspond to the week coming after the current day
    }

    function displayDay(day){
        options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
        document.write(day.toLocaleDateString("en-US", options))
    }

    function displayWeek(week){
        week.forEach(displayDay)
    }
</script>
