<% content_for :navbar do %>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'My Profile', user_path(current_user), method: "get", class:"btn btn-outline-light", disabled: true %>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Logout', logout_sessions_path, method: "delete", class:"btn btn-outline-light" %>
  </li>
<% end %>

<section class="p-4 text-center container centered-card">
  <div class="row p-md-5 bg-dark rounded">
    <h1><%= "#{@user.first_name} #{@user.middle_init} #{@user.last_name}"%></h1>
    <div class="row">
      <strong class="text-r2h-grey">Email |
        <%= "#{@user.email}" %>
      </strong>
    </div>
    <div class="row">
      <strong class="text-r2h-grey">
        Phone |
        <%= "#{@user.phone}" %>
      </strong>
    </div>
    <div class="row">
      <strong class="text-r2h-grey">
        Representative of
        <%= "#{@user.host_org}" %>
      </strong>
    </div>
    <div class="row py-4">
      <div class="col-md pb-2">
        <%= button_to 'Edit Info', edit_user_path, method: "get", class:"btn btn-outline-light" %>
      </div>
      <div class="col-md">
        <%= button_to 'Edit Password', password_user_path, method: "get", class:"btn btn-outline-light" %>
      </div>
    </div>
  </div>
</section>