<%= stylesheet_pack_tag 'styles/user', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container table-container pt-3">
  <h3>
    Appointments
  </h3>
  <% if @appointments.empty? %>
    <h3 class="text-center">
      <%= "Looks like there are no appointments for #{@patient.first_name}!" %>
    </h3>
  <% else %>
    <table class="table">
      <thead class="table-blue">
        <tr>
          <th>Driver</th>
          <th>Pick-up Date & Time</th>
          <th>Pick-up Location</th>
          <th>Destination</th>
        </tr>
      </thead>

      <tbody>
        <% @appointments.each do |a| %>
          <% if Time.parse(a.datetime).past? %>
            <% next %><% end %>
            <tr>
              <td>
                <% if a.status.unassigned? %>
                  <strong style="color:red">Unassigned</strong>
                <% else %>
                  <%= "#{a.driver.first_name} #{a.driver.middle_init} #{a.driver.last_name}" %>
                <% end %>
              </td>
              <td>
                <div class="container">
                  <div class="row">
                    <%= Time.parse(a.datetime).strftime("%a %b %d, %Y") %>
                  </div>
                  <div class="row">
                    <%= Time.parse(a.datetime).strftime("%I:%M %p") %>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <%= a.locations[0].name %>
                </div>
                <div class="row">
                  <%= a.locations[0].addr1 %>
                </div>
                <div class="row">
                  <%= a.locations[0].addr2 %>
                </div>
                <div class="row">
                  <%= "#{a.locations[0].city}, #{a.locations[0].state}, #{a.locations[0].zip}" %>
                </div>
              </td>
              <td>
                <div class="row">
                  <%= a.locations[1].name %>
                </div>
                <div class="row">
                  <%= a.locations[1].addr1 %>
                </div>
                <div class="row">
                  <%= a.locations[1].addr2 %>
                </div>
                <div class="row">
                  <%= "#{a.locations[1].city}, #{a.locations[1].state}, #{a.locations[1].zip}" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class="text-center pb-3">
      <%= button_to 'Back', request.headers['HTTP_REFERER'], method: 'get', class: "btn btn-outline-dark btn-lg" %>
    </div>