<style>
.inv {
    display: none;
}
</style>
<h1 style="text-align: center; padding-top: 2%;">When are drivers available?</h1>
<br><br>

<% sch = Driver.all.first.schedule.where(current: true).first %>
<% next_sch = Driver.all.first.schedule.where(current: false).first %>

<% @days_of_this_week = [] %>
<% @days_of_next_week = [] %>

<% if sch[:current] %>
    <% (0..6).each { |i| @days_of_this_week.append((Date.today.at_beginning_of_week(:monday).to_time + i.days).strftime('%B %-d')) } %>
<% end %>
<% if !next_sch[:current] %>
    <% (0..6).each { |i| @days_of_next_week.append((Date.today.next_week.at_beginning_of_week(:monday).to_time + i.days).strftime('%B %-d')) } %>
<% end %>

<% @current_schedules = [] %>
<% @next_schedules = [] %>

<% Driver.all.each do |driver| %>
    <% @current_schedules << driver.schedule.where(current: true).first %>
    <% @next_schedules << driver.schedule.where(current: false).first %>
<% end %>

<% @week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']%>

<div style="text-align: center;">
    <select id="target">
        <option value=0>(Choose Option)</option>
        <optgroup label="This Week">
            <% @week.zip(@days_of_this_week).each do |name, date| %>
                <option value=<%= "#{date.delete(' ')}" %>><%= "#{name} (#{date})" %></option>
            <% end %>
        </optgroup>
        <optgroup label="Next Week">
            <% @week.zip(@days_of_next_week).each do |name, date| %>
                <option value=<%= "#{date.delete(' ')}" %>><%= "#{name} (#{date})" %></option>
            <% end %>
        </optgroup>
    </select>
    
    <br><br>
    
    <% @days_of_this_week.each_with_index do |date,index| %>
        <div id=<%= "#{date.delete(' ')}" %> class="inv">
            <% @sorted_day = PatientsController.day_schedules(@current_schedules,@week[index]) %>
            <table class="schedule">
                <thead>
                    <tr>
                    <th><%= @week[index] %>,
                    <br><%= date %></th>
                    </tr>
                </thead>
            
                <tbody>
                    <% if @sorted_day.empty? %>
                        <tr>
                            <td> No Available Times
                        </tr>
                    <% else %>
                        <% @sorted_day.each do |sch| %>
                                <tr>
                                    <td><%= sch %>
                                </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
    
    <% @days_of_next_week.each_with_index do |date,index| %>
        <div id=<%= "#{date.delete(' ')}" %> class="inv">
            <% @sorted_day = PatientsController.day_schedules(@next_schedules,@week[index]) %>
            <table class="schedule">
                <thead>
                    <tr>
                    <th><%= @week[index] %>,
                    <br><%= date %></th>
                    </tr>
                </thead>
            
                <tbody>
                    <% if @sorted_day.empty? %>
                        <tr>
                            <td> No Available Times
                        </tr>
                    <% else %>
                        <% @sorted_day.each do |sch| %>
                                <tr>
                                    <td><%= sch %>
                                </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
</div>

<br>
<p style='padding-left: 20px;'><%= link_to 'Back', root_url, class: "btn btn-secondary back-btn" %></p>

<script>
    document
        .getElementById('target')
        .addEventListener('change', function () {
            'use strict';
            var vis = document.querySelector('.vis'),   
            target = document.getElementById(this.value);
            if (vis !== null) {
                vis.className = 'inv';
            }
            if (target !== null ) {
                target.className = 'vis';
            }
    });
</script>