<% @currentFirstName = @patients.find(@currentPatient).first_name%>
<% @currentLastName = @patients.find(@currentPatient).last_name%>

<p id="notice"><%= notice %></p>
<h1>Upcoming Appointments for <%= @currentFirstName %> <%= @currentLastName%>:</h1>
<table border="1"cellpadding="5"cellspacing="1">
  <thead>
    <tr>
      <th>Driver</th>
      <th>Date & Time</th>
      <th>Status</th>
      <th>Pick-up Location</th>
      <th>Drop-off Location</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <%#TODO: find current patient using session %>
    <% @appointments.where('patient_id' => @currentPatient).each do |appointment| %>
    <tr>
      <% @tempPatient = @patients.find(appointment.patient_id) %>
      <% @pickUpLocationid = appointment.location[0]["_id"] %>
      <% if !appointment.driver_id %>
        <% @tempDriver = "None"  %>
      <% else %>
        <% @drivers.find(appointment.driver_id) %>
        <% @tempDriver = ->(x) {x.first_name + ' ' + x.last_name}.call(@drivers.find(appointment.driver_id)) %>
      <% end %>
      <td><%= @tempDriver %></td>
      <td><%= appointment.datetime %></td>
      <td><%= appointment.status %></td>
      <td><%= appointment.location[0].name%></td>
      <td><%= appointment.location[1].name%></td>
      <td><%= link_to 'Update Date', edit_appointment_path(appointment) %>
      <br>
      <%= link_to 'Update Pick-up Location', edit_patient_location_path(@tempPatient, @pickUpLocationid)%>
      <br>
      <%= link_to 'Update Destination', edit_appointment_path(appointment) %>
      <br>
      <%= link_to 'Cancel Appointment', appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<h3><%= link_to 'Request a Ride', new_appointment_path %></h3>
