<% @currentFirstName = @patients.find(@currentPatient).first_name%>
<% @currentLastName = @patients.find(@currentPatient).last_name%>

<p id="notice"><%= notice %></p>
<h2>Patient's Page(will delete this)</h2>
<h1>Upcoming Rides:</h1>
<p>Hi <%= session[:user_id] %> <%= @currentLastName%>!</p>
<table border="1"cellpadding="5"cellspacing="1">
  <thead>
    <tr>
      <th>Driver</th>
      <th>Date & Time</th>
      <th>Status</th>
      <th>Destination</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <%#TODO: find current patient using session %>
    <% @appointments.where('patient_id' => @currentPatient).each do |appointment| %>
    <tr>
      <% @tempPatient = @patients.find(appointment.patient_id) %>
      <% if appointment.driver_id.nil? %>
        <% @tempDriver = "None"  %>
      <% else %>
        <% @tempDriver = ->(x) {x.first_name + ' ' + x.last_name}.call(@drivers.find(appointment.driver_id)) %>
      <% end %>
      <td><%= @tempPatient.first_name %> <%= @tempPatient.last_name %></td>
      <td><%= @tempDriver %></td>
      <td><%= appointment.datetime %></td>
      <td><%= appointment.status %></td>
      <td><%= appointment.location %></td> <%#TODO:should change it to location.name%>
      <td><%= appointment.location %></td> <%#TODO:should change it to location.address or something that shows address%>
      <%#TODO: show correct fields by rendering correct form %>
      <td><%= link_to 'More Info', appointment %>
      <%#TODO: edit page should follow UI mockup %>
      <%= link_to 'Edit', edit_appointment_path(appointment) %>
      <%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<h3><%= link_to 'Create New Appointment', new_appointment_path %></h3>
