<h1>Edit Address</h1>
<div>
<%= form_with(model: @location, local: true, method: "patch", url: appointment_location_path) do |f| %>
    <%= f.label :name %>    
    <%= f.text_field :name %>   
    <%= f.label :addr1 %>   
    <%= f.text_field :addr1 %>  
    <%= f.label :addr2 %>   
    <%= f.text_field :addr2 %>  
    <%= f.label :city %>    
    <%= f.text_field :city %>   
    <%= f.label :state %>   
    <%= f.text_field :state %>  
    <%= f.label :zip %> 
    <%= f.number_field :zip %>  
    <br><br>
    <%= f.submit "Submit"%>
<% end %>

</div>