<div id="header">
  <div class="row" style="margin: 0px">
    <img src="<%= asset_path('UWBV-white.png') %>" alt='UWBV logo' class='logo'>
    <div class="col">
      <br>
      <h2>Driver Home Page</h2>
      <h4><%= @logged_in_driver.first_name %> <%= @logged_in_driver.last_name %></h4>
    </div>
    <% if @logged_in_driver.trained %>
      <div class="col-1">
        <%= button_to 'Edit Account', edit_driver_path(@logged_in_driver), method: :get, class:"btn btn-secondary nav-btn" %>
        <%= button_to 'My Schedule', driver_schedules_url(@logged_in_driver), :method => 'get', class:"btn btn-secondary nav-btn" %>
    <% end %>
      <%= button_to 'Log Out', logout_path, class:"btn btn-secondary nav-btn" %>
    </div>
  </div>
</div>
<p id="notice" class='text-center' style="margin:0px;"><%= notice %></p>
<div style="margin: 20px;">
  <% if @logged_in_driver.trained %>
    <div class="dr_rides">
      <h1>Your Upcoming Rides</h1>
      <table>
        <thead>
          <tr>
            <th>Patient</th>
            <th>Date & Time</th>
            <th>Pick-Up Location</th>
            <th>Destination</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% Appointment.where('driver_id' => @logged_in_driver).sort_by{ |appt| appt.datetime }.each do |appointment| %>
            <% if DateTime.strptime(appointment.datetime, @dt_format).in_time_zone.past? %>
              <% next %>
            <% end %>
            <tr>
              <% @tempPatient = @patients.find(appointment.patient_id) %>
              <td>
                <%= @tempPatient.first_name %> <%= @tempPatient.last_name %>
                <p>Phone: <%= @tempPatient.phone %></p>
              </td>
              <td nowrap='nowrap'>
                <%= Time.parse(appointment.datetime).strftime("%a %b %d, %Y") %>
                <p><%= Time.parse(appointment.datetime).strftime("%I:%M %p") %></p>
              </td>
              <td>
                <%= appointment.location[0][:name] %>
                <p><%= appointment.location[0][:address] %></p>
              </td>
              <td>
                <%= appointment.location[1][:name] %>
                <p><%= appointment.location[1][:address] %></p>
              </td>
              <td>
                <%= button_to 'Details', appointment, method: :get, class: "btn btn-secondary sm-btn" %>
                <%= button_to "Decline Ride", cancel_appointment_path(appointment), method: :patch,  data: { confirm: 'Are you sure?' }, class: "btn btn-secondary sm-btn" %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="dr_rides">
      <h1>Your Recent Past Rides</h1>
      <table>
        <thead>
          <tr>
            <th>Patient</th>
            <th>Date & Time</th>
            <th>Pick-Up Location</th>
            <th>Destination</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% Appointment.where('driver_id' => @logged_in_driver).sort_by{ |appt| appt.datetime }.each do |appointment| %>
            <% if !DateTime.strptime(appointment.datetime, @dt_format).in_time_zone.past? %>
              <% next %>
            <% end %>
            <tr>
              <% @tempPatient = @patients.find(appointment.patient_id) %>
              <td>
                <%= @tempPatient.first_name %> <%= @tempPatient.last_name %>
                <p>Phone: <%= @tempPatient.phone %></p>
              </td>
              <td nowrap='nowrap'>
                <%= Time.parse(appointment.datetime).strftime("%a %b %d, %Y") %>
                <p><%= Time.parse(appointment.datetime).strftime("%I:%M %p") %></p>
              </td>
              <td>
                <%= appointment.location[0][:name] %>
                <p><%= appointment.location[0][:address] %></p>
              </td>
              <td>
                <%= appointment.location[1][:name] %>
                <p><%= appointment.location[1][:address] %></p>
              </td>
              <td>
                <%= button_to 'Details', appointment, method: :get, class: "btn btn-secondary sm-btn" %>
                <%= link_to 'Leave Comment', comment_patient_path(appointment.patient_id), method: :get, class: "btn btn-secondary sm-btn" %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>
    <br>

    <h1>Unassigned Upcoming Rides</h1>
    <table>
      <thead>
        <tr>
          <th>Patient</th>
          <th>Driver</th>
          <th>Date & Time</th>
          <th>Pick-Up Location</th>
          <th>Destination</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @appointments.each do |appointment| %>
          <% if DateTime.strptime(appointment.datetime, @dt_format).in_time_zone.past? %>
            <% next %>
          <% end %>
        <tr>
          <% @tempPatient = @patients.find(appointment.patient_id) %>
          <td><%= @tempPatient.first_name %> <%= @tempPatient.last_name %></td>
          <% if appointment.status == 0 %>
            <td style="color:red">Unassigned</td>
          <% else %>
            <td><%= @tempDriver = ->(x) {x.first_name + ' ' + x.last_name}.call(@drivers.find(appointment.driver_id)) %></td>
          <% end %>

          <td nowrap="nowrap">
            <%= Time.parse(appointment.datetime).strftime("%a %b %d, %Y") %>
            <p><%= Time.parse(appointment.datetime).strftime("%I:%M %p") %></p>
          </td>
          <td>
            <%= appointment.location[0][:name] %>
            <p><%= appointment.location[0][:address] %></p>
          </td>
          <td>
            <%= appointment.location[1][:name] %>
            <p><%= appointment.location[1][:address] %></p>
          </td>
          <td>
            <%= button_to 'Details', appointment, method: :get, class: "btn btn-secondary sm-btn" %>
            <%= button_to 'Claim this Ride', claim_driver_path(@logged_in_driver.id, appt: appointment), class: "btn btn-secondary sm-btn" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <br>
    <h3>Pending approval</h3>
    <p>Please contact a system administrator.</p>
    <br>
  <% end %>
</div>


<% if flash[:alert] %>
  <script>alert("<%= flash[:alert] %>")</script>
<% end %>
