<p id="notice"><%= notice %></p>

<p>You are logged in as: <%= @logged_in_driver.first_name %> <%= @logged_in_driver.last_name %></p>
<h1>Your Upcoming Rides</h1>

<table border="1"cellpadding="5"cellspacing="1">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Date & Time</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Appointment.where('driver_id' => @logged_in_driver).each do |appointment| %>
      <tr>
        <% @tempPatient = @patients.find(appointment.patient_id) %>
        <td><%= @tempPatient.first_name %> <%= @tempPatient.last_name %></td>
        <td><%= appointment.datetime %></td>
        <td><%= appointment.location %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<br>

<h1>All Upcoming Rides</h1>
<table border="1"cellpadding="5"cellspacing="1">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Driver</th>
      <th>Date & Time</th>
      <th>Status</th>
      <th>Destination</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
    <tr>
      <% @tempPatient = @patients.find(appointment.patient_id) %>
      <% if appointment.driver_id.nil? %>
        <% @tempDriver = "None"  %>
      <% else %>
        <% @tempDriver = ->(x) {x.first_name + ' ' + x.last_name}.call(@drivers.find(appointment.driver_id)) %>
      <% end %>
      <td><%= @tempPatient.first_name %> <%= @tempPatient.last_name %></td>
      <td><%= @tempDriver %></td>
      <td><%= appointment.datetime %></td>
      <td><%= appointment.status %></td>
      <td><%= appointment.location %></td>
      <td><%= link_to 'Show', appointment %></td>
      <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
  
  
  
<h3><%= button_to 'Log Out', logout_path %></h3>
