<% content_for :navbar do %>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'About', about_sessions_path, method: "get", class:"btn btn-outline-light" %>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Get Involved', involved_sessions_path, method: "get", class:"btn btn-outline-light"%>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Volunteer Login', new_session_path, method: "get", class:"btn btn-outline-light" %>
  </li>
<% end %>

<body>
  <main>
    <section class="p-4 container centered-card">
      <div class="row p-lg-5 bg-dark rounded">
        <h1 class="text-center">Sign Up</h1>
        <small class="text-center">Driver Volunteer</small>
        <%= form_with(model: @driver, local: true) do |form| %>
        <% if @driver.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <h2><%= pluralize(@driver.errors.count, "error") %>
              prohibited this @driver from being saved:</h2>
            <ul>
              <% @driver.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row py-2">
          <div class="form-group col-md">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: "form-control", autofocus: true %>
          </div>

          <div class="form-group col-md-1">
            <%= form.label 'Middle' %>
            <%= form.text_field :middle_init, class: "form-control" %>
          </div>

          <div class="form-group col-md">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: "form-control" %>
          </div>
        </div>

        <div class="row py-2">
          <div class="form-group col-md-3">
            <%= form.label :phone %>
            <%= form.telephone_field :phone, class: "form-control phone-form", placeholder: '(xxx) xxx xxxx' %>
          </div>

          <div class="form-group col-md">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="row py-2">
          <div class="form-group col">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group col">
            <%= form.label :retype_password %>
            <%= form.password_field :retype_password, class: "form-control" %>
          </div>
          <small class="form-text text-muted">
            Don't share your password with anyone!
          </small>
        </div>

        <div class="row py-5">
          <p>Car Information</p>
          <div class="form-group col-md">
            <%= form.label :car_make %>
            <%= form.text_field :car_make, class: "form-control", placeholder: "Toyota" %>
          </div>
          <div class="form-group col-md">
            <%= form.label :car_model %>
            <%= form.text_field :car_model, class: "form-control", placeholder: "Corolla" %>
          </div>
          <div class="form-group col-md">
            <%= form.label :car_color %>
            <%= form.text_field :car_color, class: "form-control", placeholder: "Green" %>
          </div>
          <div class="form-group col-md">
            <%= form.label :car_license_plate %>
            <%= form.text_field :car_license_plate, class: "form-control license-plate-form", placeholder: "xxx xxx" %>
          </div>

          <div class="text-center py-4">
            <%= form.submit "Submit",class:"btn btn-outline-light" %>
          </div>
        <% end %>
        <div class="text-center pb-3">
          <%= button_to 'Back', involved_sessions_path, method: 'get', class: "btn btn-light" %>
        </div>
      </div>
    </section>
  </main>
</body>