<div class="field">
    <%= form.label :addr1 %>
    <%= form.text_field :addr1 %>
</div>

<div class="field">
    <%= form.label :addr2 %>
    <%= form.text_field :addr2 %>
</div>

<div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
</div>

<div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
</div>

<div class="field">
    <%= form.label :zip %>
    <%= form.number_field :zip %>
</div>