<p id="notice"><%= notice %></p>

<h1>Appointments</h1>
<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Driver</th>
      <th>Date & Time</th>
      <th>Status</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
    <tr>
      <% @tempPatient = @patients.find(appointment.patient_id) %>
      <% if appointment.driver_id.nil? %>
        <% @tempDriver = "None"  %>
      <% else %>
        <% @tempDriver = ->(x) {x.first_name + ' ' + x.last_name}.call(@drivers.find(appointment.driver_id)) %>
      <% end %>
      <% @locString = appointment.location.addr1 + appointment.location.addr2 + ", " + appointment.location.city %>
      <td><%= @tempPatient.first_name %> <%= @tempPatient.last_name %></td>
      <td><%= @tempDriver %></td>
      <td><%= appointment.datetime %></td>
      <td><%= appointment.status %></td>
      <td><%= @locString %></td>
      <td><%= link_to 'Show', appointment %></td>
      <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Appointment', new_appointment_path %>
