<h1 style="text-align: center; padding-top: 2%;">New Ride</h1>
<br><br>
<div style="text-align: center;">
  <select name='restrict_loc' id='restrict_loc' onchange='toggleView()'>
    <option value=0>(Choose Option)</option>
    <option value=1>I need a drive to a medical location</option>
    <option value=2>I need a drive home from a medical location</option>
  </select>
</div>

<% if !@preset.empty? %>
  <% @presets = [@preset.first.addr1,@preset.first.addr2,@preset.first.city,@preset.first.state,@preset.first.zip,@preset.first.name]  %>
<% else %>
  <% @presets = ['','','','','','']  %>
<% end %>

<div id="show-dest-restricted" class='new-appt-whole' style='display: none;'>
  <%= form_with(model: @appointment, local: true) do |form| %>
    <% if @appointment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

        <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  	<h3>Enter Date and Time</h3>
    <h5>(Time for Pick-Up, NOT Appointment Time)</h5>
    <%= form.datetime_select :dt, {ampm: true, minute_step: 15} %>
    <%= form.hidden_field :patient_id, :value => params[:patient_id]%>
    <%= form.hidden_field :status, :value => 0 %>
    <%= form.hidden_field :est_time, :value => 60 %>

    <div style="padding-top: 1%; padding-bottom: 1%;">
      <div class="appt-loc" id='new-appt-1'>
      	<h3>Pick-Up Location</h3>
      	<%= form.fields_for :location, @appointment.location.build do |f| %>
      		<%= f.label :addr1, "Address" %>
      		<%= f.text_field :addr1, value: @presets[0] %>
      		<%= f.label :addr2, "Address (cont.)" %>
      		<%= f.text_field :addr2, placeholder: "(Optional)", value: @presets[1] %>
      		<%= f.label :city %>
      		<%= f.text_field :city, value: @presets[2] %>
      		<%= f.label :state %>
      		<%= f.text_field :state, value: @presets[3] %>
      		<%= f.label :zip %>
      		<% if !@preset.empty? %>
      		  <%= f.number_field :zip, value: @presets[4] %>
      		<% else %>
      		  <%= f.number_field :zip %>
      		<% end %>
          <%= f.label :name, "Address Nickname" %>
      		<%= f.text_field :name, placeholder: "(Optional)", value: @presets[5] %>
      	<% end %>
      </div>
      <div class='appt-loc' id='new-appt-4'>
        <h3>Destination Location</h3>
        <%= form.fields_for :location, @appointment.location.build do |f| %>
          <%= f.hidden_field :name, :value => 'tmp' %>
        <% end %>
        <table class='appt-loc-selector'>
          <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Select</th>
          </thead>
          <tbody>
            <% @patient.preset.where({ home: 0 }).each do |location| %>
              <tr>
                <td><%= location.name %></td>
                <td>
                  <%= location.addr1 + ' ' + location.addr2 %>
                  <br>
                  <%= location.city + ' ' + location.state + ' ' + location.zip.to_s %>
                </td>
                <td><input type='radio' name='loc_select' onChange='submitOn(1)' value=<%= location.id.to_s %> />
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class='appt-sub-btn'>
  	   <%= form.submit 'Schedule!', class: "btn btn-primary big-btn", disabled: true, id: 'appt-submit-1' %>
    </div>
    <% end %>
</div>

<div id="show-pickup-restricted" class='new-appt-whole' style='display: none;'>
  <%= form_with(model: @appointment, local: true) do |form| %>
    <% if @appointment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

        <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  	<h3>Enter Date and Time</h3>
    <h5>(Time for Pick-Up, NOT Appointment Time)</h5>
    <%= form.datetime_select :dt, {ampm: true, minute_step: 15} %>
    <%= form.hidden_field :patient_id, :value => params[:patient_id]%>
    <%= form.hidden_field :status, :value => 0 %>
    <%= form.hidden_field :est_time, :value => 60 %>

    <div style="padding-top: 1%; padding-bottom: 1%;">
      <div class='appt-loc' id='new-appt-4'>
        <%= form.fields_for :location, @appointment.location.build do |f| %>
          <%= f.hidden_field :name, :value => 'tmp' %>
        <% end %>
        <h3>Pick-Up Location</h3>
        <table class='appt-loc-selector'>
          <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Select</th>
          </thead>
          <tbody>
            <% @patient.preset.where({ home: 0 }).each do |location| %>
              <tr>
                <td><%= location.name %></td>
                <td>
                  <%= location.addr1 + ' ' + location.addr2 %>
                  <br>
                  <%= location.city + ' ' + location.state + ' ' + location.zip.to_s %>
                </td>
                <td><input type='radio' name='loc_select' onchange="submitOn(0)" value=<%= location.id.to_s %>> </input>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="appt-loc" id='new-appt-1'>
      	<h3>Destination Location</h3>
      	<%= form.fields_for :location, @appointment.location.build do |f| %>
      		<%= f.label :addr1, "Address" %>
      		<%= f.text_field :addr1, value: @presets[0] %>
      		<%= f.label :addr2, "Address (cont.)" %>
      		<%= f.text_field :addr2, value: @presets[1] %>
      		<%= f.label :city %>
      		<%= f.text_field :city, value: @presets[2] %>
      		<%= f.label :state %>
      		<%= f.text_field :state, value: @presets[3] %>
      		<%= f.label :zip %>
      		<% if !@preset.empty? %>
      		  <%= f.number_field :zip, value: @presets[4] %>
      		<% else %>
      		  <%= f.number_field :zip %>
      		<% end %>
          <%= f.label :name, "Address Nickname" %>
      		<%= f.text_field :name, placeholder: "(Optional)", value: @presets[5] %>
      	<% end %>
      </div>
    </div>
    <div class='appt-sub-btn'>
  	   <%= form.submit 'Schedule!', class: "btn btn-primary big-btn", disabled: true, id: 'appt-submit-0' %>
    </div>
  <% end %>
</div>

<center>
  <br>
   <%= button_to "Clear Form", { action: "new"}, :params => {:patient_id => params[:patient_id], :type => "clear"}, method: :get, class: "btn btn-secondary sm-btn" %>
</center>

<p style='padding-left: 20px;'><%= link_to 'Back', root_url, class: "btn btn-secondary back-btn" %></p>

<script>
  function toggleView(){
    var sel = document.getElementById('restrict_loc').value;
      if (sel == 1){
        document.getElementById('show-dest-restricted').style.display = 'block';
        document.getElementById('show-pickup-restricted').style.display = 'none';
      }
      else if (sel == 2){
        document.getElementById('show-dest-restricted').style.display = 'none';
        document.getElementById('show-pickup-restricted').style.display = 'block';
      }
      else {
        document.getElementById('show-dest-restricted').style.display = 'none';
        document.getElementById('show-pickup-restricted').style.display = 'none';
      }
  }
  function submitOn(num){
    if (num === 0){
      document.getElementById('appt-submit-0').disabled = false;
    }
    else{
      document.getElementById('appt-submit-1').disabled = false;
    }
  }
</script>
