<div style="text-align: center;">
  <h1>Report Issue</h1>
  <h3>Please Describe the issue and an administrator will be contacted.</h3>
  <% if flash[:alert] %>
      <div class="alert">
         <p class="flash-alert"> <%= flash[:alert] %> </p>
      </div>
  <% end %>
  <br><br>
  <%= form_with(url: sendReport_appointment_url, local: true) do |form| %>
      <%= form.text_area :issue_text, size: "30x10", style: 'width: 40%;'%>
      <br><br>
      <%= form.submit "Submit", class: "btn btn-primary big-btn" %>
  <% end %>
</div>

<p style='padding-left: 20px;'><%= link_to 'Back', root_url, class: "btn btn-secondary back-btn" %></p>
