<% content_for :head do %>
  <%= javascript_pack_tag 'appointment', 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="p-4 container">
  <div class="row p-lg-5 bg-dark rounded">
    <div class="container table-container table-responsive pt-3">
      <table class="table">
        <tr>
          <th>Patient</th>
          <td>
            <%= "#{@patient.first_name} #{@patient.last_name}" %>
          </td>
        </tr>
        <tr>
          <th>Driver</th>
          <td>
            <% if @appointment.status.unassigned? %>
              <span style="color:red">Unassigned</span>
            <% else %>
              <% d = Driver.find(@appointment.driver_id) %>
                <%= "#{d.first_name} #{d.middle_init} #{d.last_name}" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Pickup Date & Time</th>
            <td>
              <div class="container">
                <div class="row">
                  <%= Time.parse(@appointment.datetime).strftime("%a %b %d, %Y") %>
                </div>
                <div class="row">
                  <%= Time.parse(@appointment.datetime).strftime("%I:%M %p") %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="table-blue">Pick-Up Address</th>
            <td>
              <div class="row">
                <%= @appointment.locations[0].name %>
              </div>
              <div class="row">
                <%= @appointment.locations[0].addr1 %>
              </div>
              <div class="row">
                <%= @appointment.locations[0].addr2 %>
              </div>
              <div class="row">
                <%= "#{@appointment.locations[0].city}, #{@appointment.locations[0].state}, #{@appointment.locations[0].zip}" %>
              </div>
            </td>
          </tr>
          <tr>
            <th>Destination Address</th>
            <td>
              <div class="row">
                <%= @appointment.locations[1].name %>
              </div>
              <div class="row">
                <%= @appointment.locations[1].addr1 %>
              </div>
              <div class="row">
                <%= @appointment.locations[1].addr2 %>
              </div>
              <div class="row">
                <%= "#{@appointment.locations[1].city}, #{@appointment.locations[1].state}, #{@appointment.locations[1].zip}" %>
              </div>
            </td>
          </tr>
          <tr>
            <th>Estimated Time</th>
            <td>
              <div class="row">
                <%= "#{@appointment.est_time} minutes" %>
              </div>
            </td>
          </table>
        </div>
        <div class="text-center">
          <div class="row md-2 pb-2">
            <div class="mw-25">
              <%= link_to 'See in Google Maps', build_gmap_url(@appointment.locations[0], @appointment.locations[1]), class: "btn btn-success btn-lg" %>
            </div>
          </div>
        </div>
        <% if !@appointment.comments.empty? %>
          <div>
            <h2 class="text-danger">This appointment has been reported:</h2>
            <div class="container table-container table-responsive pt-3">
              <table class="table">
                <thead>
                  <th>Report</th>
                  <th>Reporter</th>
                </thead>
                <tbody>
                  <% @appointment.comments.each do |report| %>
                    <tr>
                      <td>
                        <%= "#{report.text}" %>
                      </td>
                      <td>
                        <%= "#{User.find(report.author).full_name}" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
        <div class="text-center">
          <div class="row md-2 pb-2">
            <%= button_to 'Report Issue', new_appointment_comment_path(@appointment.id), method: 'get', class: "btn btn-danger btn-lg" %>
          </div>
          <div class="row md-2 pb-2">
            <%= button_to 'Back', root_url, method: 'get', class: "btn btn-outline-light btn-lg" %>
          </div>
        </div>
      </div>
    </section>
