<% provide :head_tags do %>
  <script>
  document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@appointment.location[0][:coordinates]%>, <%=@appointment.location[1][:coordinates]%>)
  });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <% @patient = Patient.find(@appointment.patient_id) %>
  <%= @patient.first_name %> <%= @patient.last_name %>
</p>

<p>
  <strong>Driver:</strong>
  <% if @appointment.status == 0 %>
    <span style="color:red">unassigned</span>
  <% else %>
    <% @driver = Driver.find(@appointment.driver_id) %>
    <%= @driver.first_name %> <%= @driver.last_name %>
  <% end %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @appointment.datetime %>
</p>

<p>
  <strong>Patient Address:</strong> 
  <p><%= @appointment.location[0][:name] %></p>
  <p><%= @appointment.location[0][:address] %></p>
</p>
  
<p>
  <strong>Destination Address:</strong>
  <p><%= @appointment.location[1][:name] %></p>
  <p><%= @appointment.location[1][:address] %></p>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>Map:</strong>
  <p>Pick-Up Coordinates: <%= @appointment.location[0][:coordinates] %></p>
  <p>Destination Coordinates: <%= @appointment.location[1][:coordinates] %></p>
</p>

<div class='parent'> 
  <div class='child float-left-child' id="map"></div>
  <div class='child float-left-child' id="right-panel"></div>
</div>

<%= link_to 'Back', url_for(:back) %>
