<%= stylesheet_pack_tag 'styles/user', media: 'all', 'data-turbolinks-track': 'reload' %>

<% content_for :navbar do %>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'My Profile', user_path(current_user), method: "get", class:"btn btn-outline-light" %>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Logout', logout_sessions_path, method: "delete", class:"btn btn-outline-light" %>
  </li>
<% end %>

<!--=========================== ORGS ============================-->
<h3 class="pt-4 container">Healthcare Organizations</h3>
<div class="container table-container table-responsive">
  <%= form_with(url: host_sysadmin_path(@sysadmin.id), method: 'patch', local: true) do |f| %>
  <div class="row pb-3">
    <div class="col">
      <%= f.text_field :host_org, placeholder: "Add a healthcare organization", class:"form-control" %>
    </div>
    <div class="col">
      <%= f.submit "Submit" , class: "btn btn-outline-dark" %>
    </div>
  </div>
<% end %>
<table class="table border-dark">
  <thead class="table-blue">
    <tr>
      <th>Organization</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sysadmin.host_orgs.select{ |h| h != "N/A" }.each do |host| %>
      <tr>
        <td>
          <%= host %>
        </td>
        <td>
          <%= button_to 'Delete', unhost_sysadmin_path(current_user.id), params: {host: host}, method: :delete, class:"btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!--=========================== DISPATCHERS ============================-->
<h3 class="container">Healthcare Administrators</h3>
<div class="container table-container table-responsive">
<table class="table border-dark">
  <thead class="table-blue">
    <tr>
      <th>Dispatcher</th>
      <th>Approved by</th>
      <th>Approved?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @healthcareadmins.each do |h| %>
      <tr>
        <td scope="row">
          <div class="container">
            <div class="row">
              <%= "#{h.first_name} #{h.middle_init} #{h.last_name}"%>
            </div>
            <div class="row">
              <%= "#{h.email} | #{h.phone}"%>
            </div>
          </div>
        </td>
        <td>
          <% if h.sysadmin %>
            <%= "#{h.sysadmin.first_name} #{h.sysadmin.last_name}" %>
          <% else %>
            No Administrator is associated with this dispatcher yet.
          <% end %>
        </td>
        <td>
          <% if h.approved %>
            <span style="color:green">True</span>
          <% else %>
            <span style="color:red">False</span>
          <% end %>
        </td>
        <td>
          <div class="row pb-2">
            <% if h.approved %>
              <%= button_to "Unapprove", approve_healthcareadmin_path(h.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            <% else %>
              <%= button_to "Approve", approve_healthcareadmin_path(h.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
            <% end %>
          </div>
          <div class="row pb-2">
            <%= button_to "Reset Password", reset_user_path(h.id), method: 'patch', data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
          </div>
          <div class="row pb-2">
            <%= button_to 'Delete', healthcareadmin_path(h.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-outline-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!--=========================== DISPATCHERS ============================-->
<h3 class="container">Dispatchers</h3>
<div class="container table-container table-responsive">
<table class="table border-dark">
  <thead class="table-yellow">
    <tr>
      <th class="text-dark">Dispatcher</th>
      <th class="text-dark">Approved by</th>
      <th class="text-dark">Approved?</th>
      <th class="text-dark">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @volunteers.each do |v| %>
      <tr>
        <td scope="row">
          <div class="container">
            <div class="row">
              <%= "#{v.first_name} #{v.middle_init} #{v.last_name}"%>
            </div>
            <div class="row">
              <%= "#{v.email} | #{v.phone}"%>
            </div>
          </div>
        </td>
        <td>
          <% if v.sysadmin %>
            <%= "#{v.sysadmin.first_name} #{v.sysadmin.last_name}" %>
          <% else %>
            No Administrator is associated with this dispatcher yet.
          <% end %>
        </td>
        <td>
          <% if v.approved %>
            <span style="color:green">True</span>
          <% else %>
            <span style="color:red">False</span>
          <% end %>
        </td>
        <td>
          <div class="row pb-2">
            <% if v.approved %>
              <%= button_to "Unapprove", approve_volunteer_path(v.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            <% else %>
              <%= button_to "Approve", approve_volunteer_path(v.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
            <% end %>
          </div>
          <div class="row pb-2">
            <%= button_to "Reset Password", reset_user_path(v.id), method: 'patch', data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
          </div>
          <div class="row pb-2">
            <%= button_to 'Delete', volunteer_path(v.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-outline-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!--=========================== DRIVERS ============================-->
<h3 class="container">Drivers</h3>
<div class="container table-container table-responsive">
<table class="table border-dark">
  <thead class="table-red">
    <tr>
      <th class="text-dark">Driver</th>
      <th class="text-dark">Approved By</th>
      <th class="text-dark">Trained?</th>
      <th class="text-dark">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td scope="row">
          <div class="container">
            <div class="row">
              <%= "#{driver.first_name} #{driver.middle_init} #{driver.last_name}"%>
            </div>
            <div class="row">
              <%= "#{driver.email} | #{driver.phone}"%>
            </div>
          </div>
        </td>
        <td>
          <% if driver.sysadmin %>
            <%= "#{driver.sysadmin.first_name} #{driver.sysadmin.last_name}" %>
          <% else %>
            No Administrator is associated with the Driver yet.
          <% end %>
        </td>
        <td>
          <% if driver.trained %>
            <span style="color:green">True</span>
          <% else %>
            <span style="color:red">False</span>
          <% end %>
        </td>
        <td>
          <div class="row pb-2">
            <% if driver.trained %>
              <%= button_to "Mark Untrained", approve_driver_path(driver.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            <% else %>
              <%= button_to "Mark Trained", approve_driver_path(driver.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
            <% end %>
          </div>
          <div class="row pb-2">
            <%= button_to "Reset Password", reset_user_path(driver.id), method: 'patch', data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
          </div>
          <div class="row pb-2">
            <%= button_to 'Delete', driver, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!--=========================== USERS ============================-->
<h3 class="container">Users</h3>
<div class="container table-container table-responsive">
<table class="table border-dark">
  <thead class="table-blue">
    <tr>
      <th>Patient</th>
      <th>Approved By</th>
      <th>Approved?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td>
          <div class="container">
            <div class="row">
              <%= "#{patient.first_name} #{patient.middle_init} #{patient.last_name}"%>
            </div>
            <div class="row">
              <%= "#{patient.email} | #{patient.phone}"%>
            </div>
          </div>
        </td>
        <td>
          <% if patient.healthcareadmin %>
            <div class="row">
              <%= "#{patient.healthcareadmin.first_name} #{patient.healthcareadmin.last_name}" %>
            </div>
            <div class="row">
              <%= "#{patient.healthcareadmin.host_org}" %>
            </div>
          <% else %>
            No Healthcare Administrator is associated with this user yet.
          <% end %>
        </td>
        <td>
          <% if patient.approved %>
            <span style="color:green">True</span>
          <% else %>
            <span style="color:red">False</span>
          <% end %>
        </td>
        <td>
          <div class="row pb-2">
            <div class="col md-2">
              <%= button_to "Reset Password", reset_user_path(patient.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
            </div>
            <div class="col md-2">
              <% if patient.approved %>
                <%= button_to "Unapprove", approve_patient_path(patient.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
              <% else %>
                <%= button_to "Approve", approve_patient_path(patient.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
              <% end %>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col md-2">
              <%= button_to 'Comments', patient_comments_path(patient.id), method: :get, class: "btn btn-outline-dark" %>
            </div>
            <% if patient.approved %>
              <div class="col md-2">
                <%= button_to 'Locations', patient_locations_path(patient.id), method: :get,class: "btn btn-outline-dark" %>
              </div>
            <% end %>
          </div>
          <% if patient.approved %>
            <div class="row pb-2">
              <div class="col md-2">
                <%= button_to 'Create New Ride', {action: :new, controller: :appointments, patient_id: patient.id}, method: :get,class: "btn btn-outline-dark" %>
              </div>
              <div class="col md-2">
                <%= button_to 'Appointments', appointments_patient_path(patient.id), method: :get,class: "btn btn-outline-dark" %>
              </div>
            </div>
          <% end %>
          <div class="row pb-2">
            <%= button_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!--=========================== APPOINTMENTS ============================-->
<h3 class="container">Appointments</h3>
<div class="container table-container table-responsive">
<table class="table border-dark">
  <thead class="table-yellow">
    <tr>
      <th class="text-dark">Driver</th>
      <th class="text-dark">Pick-up Date & Time</th>
      <th class="text-dark">Pick-up Location</th>
      <th class="text-dark">Destination</th>
      <th class="text-dark">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |a| %>
      <% if Time.parse(a.datetime).past? %>
        <% next %><% end %>
        <tr>
          <td>
            <% if a.status.unassigned? %>
              <strong style="color:red">Unassigned</strong>
            <% else %>
              <% d = Driver.find(a.driver_id) %>
                <%= "#{d.first_name} #{d.middle_init} #{d.last_name}" %>
              <% end %>
            </td>
            <td>
              <div class="container">
                <div class="row">
                  <%= Time.parse(a.datetime).strftime("%a %b %d, %Y") %>
                </div>
                <div class="row">
                  <%= Time.parse(a.datetime).strftime("%I:%M %p") %>
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <%= a.locations[0].name %>
              </div>
              <div class="row">
                <%= a.locations[0].addr1 %>
              </div>
              <div class="row">
                <%= a.locations[0].addr2 %>
              </div>
              <div class="row">
                <%= "#{a.locations[0].city}, #{a.locations[0].state}, #{a.locations[0].zip}" %>
              </div>
            </td>
            <td>
              <div class="row">
                <%= a.locations[1].name %>
              </div>
              <div class="row">
                <%= a.locations[1].addr1 %>
              </div>
              <div class="row">
                <%= a.locations[1].addr2 %>
              </div>
              <div class="row">
                <%= "#{a.locations[1].city}, #{a.locations[1].state}, #{a.locations[1].zip}" %>
              </div>
            </td>
            <td>
              <div class="row pb-2">
                <%= button_to 'Details', appointment_path(a), method: :get, class: "btn btn-outline-dark" %>
              </div>
              <div class="row pb-2">
                <% if a.status.unassigned? %>
                  <%= button_to "Assign to Driver", assign_appointment_path(a), method: :get, class: "btn btn-outline-dark" %>
                <% else %>
                  <%= button_to 'Unassign', assign_driver_path(a.driver_id), method: :post , data: { confirm: 'Are you sure?' }, params: {appointment_id: a.id}, class: "btn btn-outline-danger"%>
                <% end %>
              </div>
              <div class="row pb-2">
                <%= button_to 'Cancel Ride', appointment_path(a), method: :delete , data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"%>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
